<div align="center">

  <% if @game.current_turn == @game.player_1 %>
    <%= @game.player_1.name %> attacked <%= @game.player_2.name %>
  <% else %>
    <%= @game.player_2.name %> attacked <%= @game.player_1.name %>
  <% end %>

  <h2><%= @game.current_turn.name %>'s turn</h2>
  
  <br><br>

  <%= @game.player_1.name %>: <%= @game.player_1.hp %> HP<br><br>
  <%= @game.player_2.name %>: <%= @game.player_2.hp %> HP<br><br>

  <form action="/switch-turns" method="post">
    <input type="submit" value="OK">
  </form>
</div>